/* General button styles */
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filterButton {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filterButton:hover {
  background-color: #ddd;
}

.filterButton.active {
  background-color: #007BFF;
  color: white;
  border: 1px solid #0056b3;
}

/* Works container styles */
.worksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Project card styles */
.project {
  flex-basis: calc(33.333% - 50px); /* 3 projects per row, adjust gap as necessary */
  margin: 10px;
}

.projectCard {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.projectCard h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;
}

.imgContainer {
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

.projectImg {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.projectCard:hover .projectImg {
  transform: scale(1.1);
}

.project-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

.techStack {
  font-size: 2em;
  color: #007BFF;
  margin-bottom: 10px;
  
  opacity: 0;
  transition: opacity 0.3s ease;
}

.projectCard:hover .techStack {
  opacity: 1;
}

.projectLinks a {
  display: inline-block;
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  transition: background-color 0.3s ease;
}

.projectLinks a:hover {
  background-color: #0056b3;
}

/* Title styles */
.tittleProyects {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #faf6f6;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .project {
    flex-basis: calc(50% - 20px); /* 2 projects per row on smaller screens */
  }
}

@media (max-width: 768px) {
  .project {
    flex-basis: 100%; /* 1 project per row on very small screens */
  }
}
